<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portfolio</title>
		<!-- GOOGLEFONTS -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap"
			rel="stylesheet"
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
			rel="stylesheet"
		/>
		<!-- MY STYLE -->
		<link rel="stylesheet" href="/stylesheets/newstyle.css" />
		<!-- popup -->
		<link rel="stylesheet" href="/stylesheets/popup.css" />
		<!-- footer -->
		<link rel="stylesheet" href="/stylesheets/footer.css" />
		<!-- alert -->
		<link rel="stylesheet" href="/stylesheets/alert.css" />
	</head>
	<body>
		<%-body%>
		<footer><%- include("../partials/footer") %></footer>
		<script src="/javascripts/alert.js"></script>
	</body>
</html>
