/* div {
  border: 2px solid grey;
} */
/* main body */
* {
	padding: 0;
	margin: 0;
	/* box-sizing: border-box; */
}

main {
	margin-top: 80px;
	width: 90%;
	margin-right: 0;
}

.container {
	/* margin: 60px; */
	margin-bottom: 10px;
	padding: 10px;
	line-height: 1.5rem;
	font-size: 1.5rem;
	display: grid;
	grid-gap: 4vw;
	grid-template-columns: auto auto;
	justify-content: center;
	align-items: center;
}

h1 {
	text-align: center;
}

.photo > img {
	width: 300px;
	border-radius: 30%;
}
.first > p {
	margin-left: 60px;
}

.certificate {
	width: 300px;
}

a.imgbtn {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;

	text-decoration: none;
	color: initial;
}

@media (max-width: 900px) {
	.container,
	.container-right {
		grid-template-columns: 1fr;
		margin: 0;
	}
}
