* {
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	font-size: 1.3rem;
	line-height: 1.5;
}

/* scroll bar */
body {
	overflow-x: hidden;
}
::-webkit-scrollbar {
	background: #53abc6;
	width: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(15, 140, 212, 0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(251, 254, 255, 0.5);
}
/* main content */
section {
	display: block;
	position: relative;
	top: -25px;
	left: -10px;
}

.first {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("../pics/comp.jpeg");

	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: #d3eaf0;
}

.bold-span {
	font-size: 1em;
}
.first > div,
.second > div {
	text-align: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background: rgba(0, 0, 0, 0.7);
	box-shadow: 7px 7px 5px rgba(78, 73, 73, 0.76);
	border-radius: 20px;
	color: #d3eaf0;
}
.third > h1 {
	text-align: center;
	border-radius: 20px;
	padding: 3px 10px;
	color: #d3eaf0;
	background: rgba(0, 0, 0, 0.7);
}
.third > div,
.fourth > div,
.myinfo {
	text-align: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
}

.myinfo {
	font-family: "Akaya Telivigala", cursive;
	font-weight: 300;
	font-size: 1.4rem;
	color: #306d80;
}

.second {
	background-image: url("../pics/about.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

.third {
	background-image: url("../pics/comp2.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

.fourth {
	background-image: linear-gradient(
		to bottom,
		rgb(143, 207, 250),
		rgb(5, 141, 219),
		white
	);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}

.second,
.third {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fourth {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.myexamples {
	text-align: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;

	color: #d3eaf0;
}

.myexamples > h1 {
	width: auto;
	text-align: center;
	border-radius: 20px;
	padding: 3px 10px;
	color: #d3eaf0;
	background: rgba(0, 0, 0, 0.5);
}

.fourth-img {
	width: 30%;
	box-shadow: 5px 5px 5px rgba(15, 25, 29, 0.7);
}
.fourth-img:hover {
	position: static;
	width: 100%;
}

@media (max-width: 1000px) {
	.first > div,
	.second > div {
		width: 100%;
		height: auto;
		overflow-y: auto;
	}
	.prev,
	.next {
		display: none;
	}
}

/* scroll up and down buttons */
.scrolling-down,
.scrolling-up {
	position: fixed;
	width: 30px;
	height: 30vh;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
	cursor: pointer;
}
.scrolling-down {
	right: 10px;
	bottom: 60px;
}

.scrolling-up {
	right: 10px;
	top: 60px;
}

.scrolling-up::before,
.scrolling-up::after {
	content: "";
	position: absolute;
	top: 20%;
	left: 50%;
	border: 2px solid #306d80;
	height: 10px;
	width: 10px;
	border-bottom: transparent;
	border-right: transparent;
	transform: translate(-50%, -100%) rotate(45deg);
	animation: scroll-up 2s ease-in-out reverse infinite;
}

.scrolling-down::before,
.scrolling-down::after {
	content: "";
	position: absolute;
	top: 20%;
	left: 50%;
	border: 2px solid #306d80;
	height: 10px;
	width: 10px;
	border-top: transparent;
	border-left: transparent;
	transform: translate(-50%, -100%) rotate(45deg);
	animation: scroll-down 2s ease-in-out infinite;
}

.scrolling-down::after {
	top: 30%;
	animation-delay: 0.3s;
}

.scrolling-up::after {
	top: 10%;
	animation-delay: 0.3s;
}

@keyframes scroll-down {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		top: 90%;
	}
}

@keyframes scroll-up {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0.5;
	}
	100% {
		opacity: 0;
		top: 90%;
	}
}

/* SLIDER */

.slider {
	text-align: center;
	border: 0;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;

	overflow: hidden;
	padding: 0;
}

.slider-line {
	display: flex;
	background: transparent;
	transition: all ease 1s;
}

.slider-group {
	position: relative;
	height: 18rem;
	margin-bottom: 50px;
}

.prev,
.next {
	position: absolute;
}

.prev {
	top: 0;
	left: 0;
}

.next {
	top: 0;
	right: 0;
}

.slider-prev,
.slider-next {
	width: 3rem;
	height: 19rem;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}

.lang {
	position: absolute;
	right: 50px;
	top: 10px;
	border: none;
}

select,
option {
	border: none;
	background-color: transparent;
	outline: none;
	margin: 0;
	font-size: 0.8em;
}

.btn-lang {
	cursor: pointer;
	padding: 0;
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
}

.hidden {
	display: none;
}
